.rotated {
  transform: rotate(90deg);

  /* margin-left: 10px; */

}
md-icon {
  display: block;
  margin-left: 10px;


}
.interchange{

stroke-width:0;

}
.forpla{
  fill:#d2dbd9;

}
.forpla2{
    fill: #008eea;

}


*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}
body{
  background-color: #21252b;
   outline: none;
}


.tree {

/*  list-style: none; */
      background-color: #21252B;
      margin: 0;
      padding: 0;
      color: #9DA5AB;
      font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
      font-size: 11px;

}



.tree-leaf {

  cursor: pointer;
  position: relative;
  /* padding-left:  4px; */

  display: block;
}

.selected-folder
{
    /* fill:red; */
     /* filter: hue-rotate(70deg) contrast(140%) saturate(115);  */
     /* filter: hue-rotate(70deg) contrast(140%) saturate(115);  */
     /* filter:hue-rotate(50deg) contrast(80%) saturate(1280); */
     filter: hue-rotate(58deg) contrast(20%) saturate(280);

color: blue;
}
.selected-folder:hover
{
    /* fill:red; */
     /* filter: hue-rotate(70deg) contrast(140%) saturate(115);  */
     /* filter: hue-rotate(70deg) contrast(140%) saturate(115);  */
     /* filter:hue-rotate(50deg) contrast(80%) saturate(1280); */
     filter: hue-rotate(98deg) contrast(120%) saturate(1280);

color: blue;
}
.selected-folder:hover
{
    /* filter: hue-rotate(70deg) contrast(140%) saturate(115); */
    /* background-color: green; */

}
.file-expando{
     padding-left: 10px;
}

.tree-leaf .tree-child-leaves {
     /* display:flex;

line-height: 2px; */

      /* padding-left: 15px; */

   }
   .tree-child-leaves {
       /* content: '\00a0 | \00a0';
     //  padding: 30px; */
   }
   .tree-leaf-text { cursor: pointer; float: left;  vertical-align: middle;    line-height: 2; padding-left: 5px; color: #DEDBD9}
.tree-leaf .hidden { display: none; }
.tree-leaf .tree-expando {  cursor: pointer; float: left; height: 10px; line-height: 10px; position: relative; text-align: center; top: 5px; width: 10px; }
.tree-leaf .file-expando {  cursor: pointer; float: left;  position: relative; text-align: center; margin-left: 3px;  }
.tree-leaf .hidden { visibility: hidden; }
.tree-leaf .tree-expando:hover { fill: blue;}
.tree-leaf .tree-leaf-text { cursor: pointer; float: left;        }
.tree-leaf .tree-leaf-text:hover {  color: #fff;}
.tree-leaf .tree-leaf-content:before, .tree-leaf .tree-leaf-content:after { content: "";  left: 10px ; display:block; }
.tree-leaf .tree-leaf-content:after { clear: both; }
.tree-leaf .tree-leaf-content { padding: 4px; padding-left: 30px;}
.tree-leaf .tree-leaf-content:hover{ /* color:lime;*/background-color: rgba(0, 121, 241,.5) ;color: #fff;box-sizing: border-box;filter:  contrast(150%) saturate(92%) }
/* .filo{  margin-left: 20px;}  */
.tree-expando:before  { padding-left: 22px;}
.SelectedStyle{
    background-color :rgb(49, 54, 63);



}
.indent {
    margin-left: 10px;
    /* margin-right: 10px; */
    padding-left: 20px;


    display: inline-block;
    float: left;
}
